@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
/* * {border: 2px solid red; */
/* } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;

  background-color: #0a0a23;
  font-family: "EB Garamond", "DotGothic16";
  /* letter-spacing: 1px; */
  font-size: 18px;
}

#text {
  background-color: #0a0a23;
  color: #ccf2fc;
  padding: 10px;
}

#game {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  max-height: 600px;
  background-color: #ccf2fc;
  color: #ccf2fc;
  margin: 30px, auto, 0px, auto;
  padding: 10px;
}

#controls,
#stats {
  border: 2px solid #0a0a23;
  /* border-radius: 7px; */
  color: #0a0a23;
  padding: 5px;
}

h1 {
  color: #0a0a23;
  text-align: center;
  text-decoration: underline;

  letter-spacing: 0px;
}

#monsterStats {
  display: none;
  border: 2px solid #0a0a23;
  color: #ccf2fc;
  background-color: #9c0606;
  padding: 5px;
}

.stats {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #f6a42a;
  font-family: "EB Garamond", "DotGothic16";
  font-size: 16px;
  font-weight: 700;
  /* letter-spacing: 1px; */
}

.secondary {
  /* display: none; */
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #f6a42a;
  font-family: "EB Garamond", "DotGothic16";
  font-size: 16px;
  font-weight: 700;
}

#secondaryControls {
  display: none;
}

#stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

#backpackContainer {
  margin-left: 1px;
  flex-direction: column;
  border: 1px solid #6d4c19;
  background: #265042;
  width: 250px;
  border-radius: 20px;
  /* max-height: 600px; */
}

h2 {
  /* border: 2px solid black; */
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}

#backpack {
  margin: 0 2px 0 2px;
  border: 1px solid #6d4c19;
  max-width: 250px;
  min-height: 30px;
  max-height: 600px;
}

.hidden {
  display: none;
}
