@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
/* * {border: 2px solid red; */
/* } */

:root {
  --gold: hsl(28 60% 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #0a0a23;
  font-family: "EB Garamond", "DotGothic16";
  /* letter-spacing: 1px; */
  font-size: 18px;
}

#text {
  background-color: #0a0a23;
  color: #ccf2fc;
  padding: 10px;
}

#game {
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 600px;
  background-color: #1a5c4d;
  color: #ccf2fc;
  margin: 30px, auto, 0px, auto;
  padding: 10px;
}

#controls,
#stats {
  border: 2px solid #0a0a23;
  /* border-radius: 7px; */
  color: #0a0a23;
  padding: 5px;
}

h1 {
  color: #ccf2fc;
  text-align: center;
  text-decoration: underline;

  letter-spacing: 0px;
}

#monsterStats {
  display: none;
  border: 2px solid #0a0a23;
  color: #ccf2fc;
  background-color: #9c0606;
  padding: 5px;
}

.stats {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  border-radius: 7px;
  background-image: linear-gradient(#71b1c4, #208030);
  border: 1px solid #70e28d;
  padding: 3px;
  font-family: "EB Garamond", "DotGothic16";
  font-size: 16px;
  font-weight: 700;
  /* letter-spacing: 1px; */
}

.secondary {
  /* display: none; */
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #f6a42a;
  font-family: "EB Garamond", "DotGothic16";
  font-size: 16px;
  font-weight: 700;
}

#secondaryControls {
  display: none;
}

#stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

#backpack-container,
#shop-container {
  margin: 30px 3px 0px 3px;

  /* border: 2px solid #422a05; */
  border: 2px solid var(--gold);
  /* background: #475026; */
  background: #f6ff784d;
  width: 250px;
  min-height: 30px;
  max-height: 600px;
  border-radius: 20px;
  /* max-height: 600px; */
}

h2 {
  /* border: 2px solid black; */
  text-align: center;
  /* text-decoration: underline; */
  color: var(--gold);
}

#backpack {
  display: flex;
  flex-direction: column;
  padding: 20px 2px;
  gap: 15px;
  /* border: 1px solid #422a05; */
  border: 1px solid var(--gold);
  border-radius: 7px;
}

#item-container,
#buy-container {
  display: flex;
  flex-direction: column;
  padding: 20px 2px;
  gap: 15px;
  /* border: 1px solid #422a05; */
  border: 1px solid var(--gold);
  border-radius: 7px;
}

.hidden {
  display: none;
}
.items {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-weight: 700;
}

.items {
  color: black;
}
